/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
.fillActive {
  background-color: rgb(75, 75, 184);
}
.file {
  width: 10vw;
}
.main {
  overflow: "auto";
  width: 90vw;
  height: 100vh;
  background: yellow;
}

.status-Bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.15rem;
  background-color: #007acc;
  color: #fcfdfe;
}

.left-panel-spans {
  padding-right: 2px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

.right-panel-spans {
  padding-right: 2px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

.left-Panel {
  margin-right: 20px;
}

.left-panel-label {
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
}

.right-panel-label {
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
}

.pop-up-outer-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
  color: rgba(0, 0, 0, 0.75);
  background-color: #f8f8f8;
  /* z-index: 1; */
  position: absolute;
  left: 30%;
  top: 10%;
  margin: 0 auto;
  border-radius: 3px;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #ffd700, #a5c700, #ff8a00, #66aefd) 1;
  border-bottom: 5px solid;
}

.pop-up-URL-label {
  color: #939393;
}

.pop-up-outer-div-hide {
  display: none;
  z-index: 1;
}

.pop-up-X-button {
  height: 20px;
  width: 20px;
  margin: 1rem;
  display: flex;
  align-self: flex-end;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  font-size: large;
  font-family: sans-serif;
  font-weight: 600;
}

.pop-up-url-div {
  margin-bottom: 1rem, 1rem, 0rem, 0rem;
  display: flex;
  width: 80%;
  align-items: flex-start;
  margin: 0 auto;
  flex-direction: column;
}

.pop-up-input {
  width: 100%;
  height: 2rem;
}

.pop-up-buttons-div {
  display: flex;
  align-self: flex-end;
  margin: 2rem;
  font-family: sans-serif;
}

.Cancel-button {
  border-radius: 3px;
  cursor: pointer;
  padding: 10px, 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
}

.OK-button {
  border-radius: 3px;
  cursor: pointer;
  padding: 10px, 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: #349be8;
  color: #fff;
  outline: none;
  border: none;
}

.OK-button:hover {
  color: #fff;
  background-color: #1988da;
}

/* Landing Page */

.Nav-link {
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  color: #b5b5b5;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: uppercase;
}

.Nav-link:hover {
  color: white;
}

.landingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.Splash-screen {
  background-color: #fafafa;
}

.header-landing-page {
  margin-top: 0px;
  width: 100%;
  background-color: #2c2c2c;
  color: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-inside-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
  margin: 1rem;
}

.pencilLogo {
  font-size: 25px;
  margin-right: 15px;
}
.editor {
  height: 100vh;
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0px !important;
}
div.wmde-markdown.wmde-markdown-color.w-md-editor-preview {
  overflow: scroll;
  height: 35rem;
}
textarea.w-md-editor-text-input {
  min-height: 35rem;
}
::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}
div.w-md-editor-content {
  min-height: 559px;
}
/* div.wmde-markdown-var.w-md-editor.w-md-editor-show-live {
  height: 30rem;
} */
